		<div id="modal">
			<div class='moomooland-container'>
			<p><a href="/robot.html">Watch Our Robot Game!!</a></p>
			</div>

		</div>
		<div id="moomooland" class="hidden">
			<div class='moomooland-container'>
				<p>"The Fantastic Five." The Fantastic Five. N.p., n.d. Web. 07 Oct. 2016. <http://fan5fll.com/>.</p>
			</div>
		</div>
		<footer>
            <h3>fantastic 5's website!</h3>
            <button id="moomooopen">cite this source</button>
            <a target="_blank" href="rdes.pdf" >robot executive design summary</a>
            <a target="_blank" href="rms.pdf" >robot mission summary</a>
            <!-- Start of SimpleHitCounter Code -->
<div align="center"><img src="http://simplehitcounter.com/hit.php?uid=1977294&f=16777215&b=16711680" border="0" height="18" width="83" alt="web counter"></div>
<!-- End of SimpleHitCounter Code -->

        </footer> 
<script>
	var cookie = Cookies.get('toggleEffects');
	var effectsOn = false
	if (cookie !== undefined){
		cookieBoolean = cookie === "false" ? false : true;
		effectsOn = cookieBoolean;
	}
	function handleToggling(){
		if(effectsOn){
			$(".container").removeClass('no-spinny');
			$("#toggle-button").removeClass("off");
		} else {
			$(".container").addClass('no-spinny');
			$("#toggle-button").addClass("off");			
		}		
		var textLabel = effectsOn ? "Unlocked" : "Locked";
		Cookies.set('toggleEffects', effectsOn);
		$("#toggle-button").text("Toggle Effect (" + textLabel + ")")
	}
	$("#toggle-button").on('click', function(){
		effectsOn = !effectsOn;
	 	handleToggling();
	});
	handleToggling();
	$("#modal").on('click', function(){
		$("#modal").toggleClass("hidden");
	});
	$("#moomooopen").on('click', function(){
		$("#moomooland").toggleClass("hidden");
	});
	// $(document).on("click",function(){
	// 	if($("#moomooland.hidden").length === 0){
	// 		$("#moomooland").toggleClass("hidden")
	// 	}
	// })
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-71325016-1', 'auto');
ga('send', 'pageview');

</script>
