<header>
  <nav>
        <ul>
            <li><a href="agenda,outreach,tips.html" >our agenda, outreach and vinny's programming tips</a></li>
                <li><a href="rules-goals.html" >our rules and goals</a></li>
                <li><a href="robot.html" >our robot</a></li>
                <li><a href="coaches.html" >our coaches</a></li>
                <li><a href="report.html">project report</a></li>
                <li><a href="home.html">----</a></li>
            <li><a href="http://www.firstlegoleague.org" target="_blank">FLL's Website</a></li>
                <li><a href="projectsummarynew.docx" target="_blank">project report</a></li>
        </ul>a
  </nav>
</header>
