<header>
  <nav>
  		<ul>
	  		<li>
	  			<a href="#" id="toggle-button">Toggle Effect (Unlocked)</a>
	  		</li>
  		</ul>
        <ul>
            <li><a href="agenda-outreach-tips.html" >Agenda, Outreach, Tips</a></li>
                <li><a href="rules-goals.html" >our rules and goals</a></li>
                
                <li><a href="robot.html" >our robot</a></li>
                <li><a href="coaches.html" >our coaches</a></li>
                <li><a class="pdf" href="project.pdf" target="_blank">project report</a></li>
                <li><a class="pdf" target="_blank" href="rdes.pdf" >robot executive design summary</a></li>
            	<li><a class="pdf" target="_blank" href="rms.pdf" >robot mission summary</a></li>
            	<li><a href="index.html" >home</a></li>
            <li><a href="http://www.firstlegoleague.org" target="_blank">FLL's Website</a></li>


               
        </ul>
  </nav>
</header>
