<header>
  <nav>
  		<ul>
	  		<li>
	  			<a href="javascript:void(0)" id="toggle-button">Toggle Effect (Unlocked)</a>
	  		</li>
  		</ul>
        <ul>
            <li><a href="agenda-outreach-tips.html" >Agenda, Outreach, Tips</a></li>
                <li><a href="rules-goals.html" >Our Rules and Goals</a></li>
                
                <li><a href="robot.html" >Our Robot</a></li>
                <li><a href="coaches.html" >Our Coaches</a></li>
                <li><a href="ComLink.html" >Resources</a></li>
                <li><a class="pdf" href="project.pdf" target="_blank">Project Report</a></li>
                <li><a class="pdf" target="_blank" href="rdes.pdf" >RDES</a></li>
            	<li><a class="pdf" target="_blank" href="rms.pdf" >RMS</a></li>
            	<li><a href="index.html" >home</a></li>
            <li><a href="http://www.firstlegoleague.org" target="_blank">FLL's Website</a></li>


               
        </ul>
  </nav>
</header>
